

  <br>
  <br>
  <br>

  <div class="container-fluid" (ngSubmit)="showStudentsResponse()">
    <div class="row">
      
  <div *ngFor= 'let i of student'>
  <div class="col-sm-3">
      <div class="card" style="width: 18rem; ">
        <div class="card-body" style="text-align: left;">
  
      <h5 class="card-title" >Name: {{i.name}}</h5>
      <p class="card-text">ID: {{i.id}}</p>
      <p class="card-text">GPA: {{i.gpa}}</p>
      <p class="card-text">EMAIL: {{i.email}}</p>
      <p class="card-text">{{i.cv}}</p>

      <a href="mailto:{{i.email}}" class="btn btn-primary btn-lg btn-block">Contact</a>
      
      </div>
      </div>
      </div>
      <br>
    
      </div>
      </div>
      </div>