

<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <div class="d-flex justify-content-start">
    <a class="navbar-brand" href="" routerLink="/OrgAccount" >My Account</a>
    <a class="navbar-brand" href="" routerLink="/PostVacancies" >Post vacancy</a>
    <a class="navbar-brand" href="" routerLink="/ListOfStudents" >List Of Students</a>

    </div>

    <ul class="navbar-nav px-3">
      <li class="nav-item text-nowrap">
        <button type="button" class="btn btn-outline-danger" routerLink="/signIn">Logout</button>
      </li>
      
    </ul>
    
  </nav>