<!DOCTYPE html>
<link href="https://fonts.googleapis.com/css?family=Cantata+One|Fredoka+One|Righteous|Spicy+Rice&display=swap" rel="stylesheet">

<body style="background-image: url(/assets/img/KSUMUZ.jpg); height: 670px; -webkit-background-size: cover;
-moz-background-size:  cover;
-o-background-size: cover;
background-size: cover; background-color: rgba(126, 123, 215, 0.2);">



  <div id="background">
<!-- <div style="padding-top: 3cm; padding-left: 5cm;padding-right: 5cm; width: 60%;"> -->
    <!-- <nav>
        <div class="nav-wrapper #424242 grey darken-3">
          <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li ><a href=""  routerLink="/card2">Student</a></li></ul>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="" routerLink="/empAccount">Employee</a></li>
    
          </ul>
        </div>
      </nav> -->
      <!-- <select class="custom-select">
        <option selected>Open this select menu</option>
        <option value="1" routerLink="/card2">Student</option>
        <option value="2">Training Committee</option>
        <option value="3">Orgnization</option>
      </select>
      
      <br> -->

<!-- <br>
<input  type="number" placeholder="KSU ID" id="KSU_ID" >

<br>
<input type="text" placeholder="Full Name" id="Full_Name">
<br>
<input type="email" placeholder="Email" id="Email">
<br>
<input type="number" placeholder="GPA" id="gba">
<br>
<input type="password" placeholder="Password" id="password">
<br><br> -->
  <!-- <label for="file"></label>
        <label>Upload CV</label>
            <input type="file" (change)="fileChangeEvent($event)" class="fileInputProfile">
<br> -->
<!-- <br>
<button class="btn btn-outline-primary" id="create_account" type="submit" routerLink="/browseJobs">Create Account</button>
</div> -->
<!-- 
<div class="typewriter" style="padding-top: 3cm; padding-left: 1cm;padding-right: 5cm; width: 120%;">
    <h1>Welcome to IMS, now you can find vacancies easily,</h1>
  </div>
  <div class="typewriter" style=" padding-left: 1cm;padding-right: 5cm; width: 120%;">
    <h1>and if you are company also you can find students easily.</h1>
    <button type="button" class="btn btn-outline-primary">Create Account</button>
  </div> -->
  <div class="css-typing" style="padding-top: 3cm; padding-left: 1cm;padding-right: 5cm; width: 120%;">
    <p>
        Welcome to IMS, now you can find vacancies easily,
    </p>
    <p>
        And if you are company also you can find students easily.
    </p>
    <p>
        <button type="button" class="btn btn-outline-primary" routerLink = "/Home/SignUp">Create Account</button>
    </p>
  </div>
      <!-- <a href="https://docdro.id/yzTUgIy" style="text-align: center;">PDFFFFF</a> -->
    <!-- <iframe class="embed-responsive-item" src="https://docdro.id/yzTUgIy" allowfullscreen></iframe> -->
</div>


<!--     

   <button class="btn btn1">Sign in </button>  
    <button class="btn btn2">Create Account</button> -->


</body>
