<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<div class="card-panel #fafafa grey lighten-5" id="signIn">
       
    <h6>Creat an Account</h6>

    <form id="checkbox">
        <p>
          <label>
            <input type="checkbox" />
            <span>Candidate</span>
          </label>
        </p>
        <p>
            <label>
              <input type="checkbox" />
              <span>Employer</span>
            </label>
          </p>
          </form>

    <br>
    <input  type="text" placeholder="User Name" id="user_name">
    <br>
    <input type="text" placeholder="Email Address" id="email_address">
    <br>
    <input type="text" placeholder="Password" id="password">
    <br>
    <button class="#2196f3 blue btn" id="create_account" type="submit">Create Account</button>
    <br>
    <p>Already Have an Account? </p> <a  href="/Users/azizsuliman/Desktop/Grad_MIS/signIn.html" target="_self">Sign In</a>

</div>