<div class="container-fluid">
    <div class="row">
      <nav class="col-md-2 d-none d-md-block bg-light sidebar">
        <div class="sidebar-sticky">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active" href="#" routerLink="/card2">
                <span data-feather="home"></span>
                Profile <span class="sr-only">(current)</span>
              </a>
            </li>
          
  
  
  
          </ul>
        </div>
      </nav>
      <!-- 
        <div style="margin-top: 0 auto; background-color: black;"><p></p></div> -->
  
      <div class="card" style="width: 40rem; margin-left: 13cm; margin-top: 2cm;">
  
  
        <div class="card-body">
          <h5 class="card-title">Name: {{students.name}}</h5>
          <p class="card-text">ID: {{students.id}}</p>
          <p class="card-text">Email: {{students.email}}</p>
          <p class="card-text">GPA: {{students.gpa}}</p>
          <a href="#" class="btn btn-primary">Edit</a>
        </div>
      </div>