

<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <div class="d-flex justify-content-start">
    <a class="navbar-brand" href="" routerLink="/Student/{{currentId}}/myAccount" >My Account</a>
    <a class="navbar-brand" href="" routerLink="/Student/{{currentId}}/browseVacancies" >Browse vacancies </a>
    <a class="navbar-brand" href="" routerLink="/Student/{{currentId}}/documents" >Documents </a>
    <a class="navbar-brand" href="" routerLink="/Student/{{currentId}}/AppliedVacancies" >Applied Vacancies </a>

    </div>

    <ul class="navbar-nav px-3">
      <li class="nav-item text-nowrap">
        <button type="button" class="btn btn-outline-light" routerLink="/Home/WPage&login">Logout</button>
      </li>
      
    </ul>
    
  </nav>

  <router-outlet></router-outlet>

