

  <br>
  <br>
  <br>

  <div class="container-fluid" (ngSubmit)="showStudentsResponse()">
    <div class="row">
      
  <div *ngFor= 'let i of student'  [attr.id]="i.id">
  <div class="col-sm-3">
      <div class="card" style="width: 18rem; ">
        <div class="card-body" style="text-align: left;">
  
      <h5 class="card-title" >Name: {{i.name}}</h5>
      <p class="card-text" >ID: {{i.id}}</p>
      <p class="card-text">GPA: {{i.gpa}}</p>
      <p class="card-text">EMAIL: {{i.email}}</p>

      <button type="submit"  class="btn btn-primary btn-lg btn-block" (click)="deleteStudent(i.id)" >Delete</button>
      <button type="submit" class="btn btn-primary btn-lg btn-block" (click)="showPdf(i.id)" >CV</button>
      <button type="submit" class="btn btn-primary btn-lg btn-block" (click)="showRecord(i.id)" >Academic Record</button>

      
      </div>
      </div>
      </div>
      <br>
    
      </div>
      </div>
      </div>