<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<style>
 

#Accounts{
    width: 15%;
    background-color:white;
    text-align: left;

}
.aa{
    background-color: black;
    color: white;
    padding-bottom: 20px;
}
#dash{
    height: 40px;
    width: 100%;
    
    background-color:black;
    text-align: center;
    
    
}
</style>
<nav class="nav-wrapper #424242 grey darken-3">
    <div >
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="" routerLink="/myAccount">My Account</a></li>
        <li><a href="" routerLink="/browseJobs">Browse Jobs</a></li>
        <li><a href="" routerLink="/signIn">Logout</a></li>

 
    </ul>
        <ul id="nav-mobile" class="right hide-on-med-and-down">

        <li><a class="#ffc107 amber btn">Post a Job</a></li>
        </ul>

        
    </div>
  </nav>
  
  <div id="Accounts">
<div id="dash">
<a  class="aa" href="" routerLink="/dashboard">Dashboard</a>
</div>
<br>
<br>
<a  href="" routerLink="/dashboard">Dashboard</a>
<br>
<br>
<a  routerLink="/dashboard">Dashboard</a>
<br>
<br>
<a  href="" routerLink="/dashboard">Dashboard</a>
<br>

    </div>




